body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #ff8708;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    background-color: #c36500;
}

nav li:hover {
    transform: scale(1.1);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: c;
    line-height: 1.6;
}
ul {
    list-style-type: square;
    color: #555;
    padding-left: 20px;
}
.watch-link a {
    text-decoration: none;
    color: #fff;
    background-color: #ff8708;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
   
.watch-link a:hover {
    background-color: #c36500;
}

input[type="button"] {
    text-decoration: none;
    color: #fff;
    background-color: #ff8708;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
   
input[type="button"]:hover {
    background-color: #c36500;
}
iframe{
    display: block;
    width: 50%;
    max-height: 50%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.anime-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.anime-image img {
    width: 50%;
    max-height: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    color: #ff8708; 
    font-size: 18px; 
}

.contact-form input, .contact-form textarea {
    border: 1px solid #ff8708;
    border-radius: 4px;
    padding: 8px; 
    width: 14em; 
    font-size: 18px;
}

.contact-form textarea {
    resize: vertical; 
    min-height: 150px; 
}
footer {
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin-top: 2em;
}